parameters:
    level: max
    paths:
        - src
        - config
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
